registry=https://pkgs.dev.azure.com/yuqzhu/dfcf6eb8-ae56-43c2-b3a6-215fba372051/_packaging/Tailspin.SpaceGame.Web.Models%40Local/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/yuqzhu/dfcf6eb8-ae56-43c2-b3a6-215fba372051/_packaging/Tailspin.SpaceGame.Web.Models%40Local/npm/registry/:username=yuqzhu
//pkgs.dev.azure.com/yuqzhu/dfcf6eb8-ae56-43c2-b3a6-215fba372051/_packaging/Tailspin.SpaceGame.Web.Models%40Local/npm/registry/:_password=dm9pcmR1dmVhbngzb2ZvdDRycXY2amRjenZxaXFmMmtuZ2pxZnRqY2oyanB3YXI3Mm9wYQ==
//pkgs.dev.azure.com/yuqzhu/dfcf6eb8-ae56-43c2-b3a6-215fba372051/_packaging/Tailspin.SpaceGame.Web.Models%40Local/npm/registry/:email=yuqzhu@outlook.com
//pkgs.dev.azure.com/yuqzhu/dfcf6eb8-ae56-43c2-b3a6-215fba372051/_packaging/Tailspin.SpaceGame.Web.Models%40Local/npm/:username=yuqzhu
//pkgs.dev.azure.com/yuqzhu/dfcf6eb8-ae56-43c2-b3a6-215fba372051/_packaging/Tailspin.SpaceGame.Web.Models%40Local/npm/:_password=dm9pcmR1dmVhbngzb2ZvdDRycXY2amRjenZxaXFmMmtuZ2pxZnRqY2oyanB3YXI3Mm9wYQ==
//pkgs.dev.azure.com/yuqzhu/dfcf6eb8-ae56-43c2-b3a6-215fba372051/_packaging/Tailspin.SpaceGame.Web.Models%40Local/npm/:email=yuqzhu@outlook.com
; end auth token

