<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="TailspinProjectFeed" value="https://pkgs.dev.azure.com/yuqzhu/dfcf6eb8-ae56-43c2-b3a6-215fba372051/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
  </packageSources>
</configuration>